{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}

{{ $firstContainer := index $containers 0 }}
{{ $location := coalesce $firstContainer.Env.VIRTUAL_LOCATION "" }}
{{ $port := coalesce $firstContainer.Env.VIRTUAL_PORT "8888" }}

server {
    server_name {{ $host }};

    location /{{ $location }} {
        proxy_pass http://{{ $host }}:{{ $port }}/;
    }
}
{{ end }}